@import url('https://fonts.googleapis.com/css?family=Gaegu|Roboto&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 0 5% 0 5%;
}

section {
  padding-top: 80px;
}