.Header {
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.5em;
  }
  
  li {
    a {
      font-family: 'Roboto', sans-serif;
      display: block;
      text-decoration: none; 
      color: black;
      padding-left: 1.5em;
      border-radius: 10px; 
    }
    a:hover {
      color: #952024;
    }
  }

  .name {
    margin-left: 1em;
    font-family: 'Gaegu', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    color: rgb(78, 78, 229);
    transition: 0.2s;
  }
}